.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
}

.logo {
  height: 80px; /* adjust size as you wish */
  width: auto;
  transition: transform 0.25s ease;
  margin-right: 20px;
}

.logo:hover {
  transform: scale(1.08);
}

.text-container {
  text-align: center;
  margin-top: 10px;
}

.text-container h1 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.text-container p {
  font-size: 14px;
  color: #666;
}
